.nav_margin {
  margin-left: auto;
}
.margins {
  margin-left: auto;
}
.nav {
  width: clamp(0px, calc((1056 / 1280) * 100dvw), 1056px);
  display: flex;
  gap: clamp(0px, calc((20 / 1280) * 100dvw), 20px);
  margin: 0 auto;
  margin-top: clamp(0px, calc((34 / 832) * 100dvh), 34px);
  font-weight: 500;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
  text-align: center;
  vertical-align: middle;
  
}

.nav > a:hover {
  color: #1d1d1d;
}
.nav > a {
  white-space: nowrap;
  cursor: pointer;
  color: #a9a9a9;
}

.active_nav {
  font-weight: 500;
  color: #1d1d1d;
  vertical-align: middle;
  display: grid;
  width: fit-content;
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  color: #1d1d1d !important;
  margin-top: 0px;
  background-color: #853cff;
}
