.users {
  width: clamp(0px, calc(1056 / 1280 * 100dvw), 1056px);
  margin: 0 auto;
}

.option_margin {
  margin-top: clamp(0px, calc(17 / 832 * 100dvh), 17px) !important;
}

.option_second_margin {
  margin-top: clamp(0px, calc(4 / 832 * 100dvh), 4px) !important;
}

.users_title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
  margin-top: clamp(0px, calc(25 / 832 * 100dvh), 25px);
}

.users_form {
  margin-top: clamp(0px, calc(20 / 832 * 100dvh), 20px);
  display: flex;
}

.users_list {
  margin-top: clamp(0px, calc(12 / 832 * 100dvh), 12px);
  display: grid;
  grid-template-columns:
    clamp(0px, calc(231 / 1280 * 100dvw), 231px)
    clamp(0px, calc(805 / 1280 * 100dvw), 805px);
  gap: clamp(0px, calc(20 / 1280 * 100dvw), 20px);
}

.users_list_groups {
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  width: clamp(0px, calc(231 / 1280 * 100dvw), 231px);
  height: clamp(0px, calc(107 / 832 * 100dvh), 107px) !important;
  padding-left: clamp(0px, calc(10 / 1280 * 100dvw), 10px);
  padding-top: clamp(0px, calc(15 / 832 * 100dvh), 15px);
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #e0e0e0;
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
}

.users_list_groups > div {
  height: clamp(0px, calc(19 / 832 * 100dvh), 19px);
  margin-bottom: clamp(0px, calc(10 / 832 * 100dvh), 10px);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.group {
  position: relative;
}

.group_value {
  margin-left: clamp(0px, calc(10 / 1280 * 100dvw), 10px);
}

.group_active {
  position: absolute;
  height: 100%;
  background-color: #853cff;
  width: clamp(0px, calc(2 / 1280 * 100dvw), 2px);
  border-radius: clamp(0px, calc(2 / 832 * 100dvh), 2px);
}

.users_list_list {
  margin-top: clamp(0px, calc(23 / 832 * 100dvh), 23px);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
}

.users_list_list_list {
  color: #1d1d1d !important;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
}

.users_list_list_header {
  margin-left: clamp(0px, calc(18 / 1280 * 100dvw), 18px);
  display: flex;
  align-items: center;
  height: clamp(0px, calc(46.13 / 832 * 100dvh), 46.13px) !important;
}

.users_list_list_header > div {
  position: relative;
  display: flex;
  align-items: center;
  line-height: clamp(0px, calc(16 / 832 * 100dvh), 16px) !important;
}

.users_list_list_name {
  width: clamp(0px, calc(473 / 1280 * 100dvw), 473px);
  margin-bottom: clamp(0px, calc(4 / 832 * 100dvh), 4px);
}

.users_list_list_role {
  width: clamp(0px, calc(179 / 1280 * 100dvw), 179px) !important;
}

.user_list_list_role_ {
  width: clamp(0px, calc(146 / 1280 * 100dvw), 146px) !important;
}

.open_role {
  margin-left: auto;
  width: clamp(0px, calc(16 / 1280 * 100dvw), 16px);
  height: clamp(0px, calc(9 / 832 * 100dvh), 9px);
}

.kick_user {
  margin-left: clamp(0px, calc(110 / 1280 * 100dvw), 110px);
  width: clamp(0px, calc(24 / 1280 * 100dvw), 24px);
  height: clamp(0px, calc(24 / 832 * 100dvh), 24px);
  cursor: pointer;
}

.users_list_list_role_margin {
  display: flex;
  width: clamp(0px, calc(120 / 1280 * 100dvw), 120px) !important;
}

.users_list_list_line {
  background-color: #e9e9e9 !important;
  height: clamp(0px, calc(1 / 832 * 100dvh), 1px) !important;
}

.users_form_finder_header {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  color: #1d1d1d;
}

.users_form_finder_finder {
  position: relative;
  display: flex;
  align-items: center;
}

.users_form_search-input {
  width: clamp(0px, calc(231 / 1280 * 100dvw), 231px);
  height: clamp(0px, calc(39 / 832 * 100dvh), 39px);
  line-height: clamp(0px, calc(39 / 832 * 100dvh), 39px);
  color: #1d1d1d !important;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #e0e0e0;
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  display: flex;
  align-items: center;
  padding-left: clamp(0px, calc(50 / 1280 * 100dvw), 50px);
  box-sizing: border-box;
}

.users_form_search-input::placeholder {
  line-height: clamp(0px, calc(39 / 832 * 100dvh), 39px);
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  color: #a9a9a9;
}

.users_form_input-icon {
  position: absolute;
  left: clamp(0px, calc(17 / 1280 * 100dvw), 17px);
  top: 50%;
  transform: translateY(-50%);
  width: clamp(0px, calc(19 / 1280 * 100dvw), 19px);
  height: clamp(0px, calc(19 / 1280 * 100dvw), 19px);
  pointer-events: none;
}

.users_form_button {
  box-sizing: border-box;
  width: clamp(0px, calc(157 / 1280 * 100dvw), 157px) !important;
  height: clamp(0px, calc(39 / 832 * 100dvh), 39px);
  background-color: #6ab23d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0px, calc(10 / 1280 * 100dvw), 10px);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
}

.users_form_button {
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px);
  border-radius: clamp(0px, calc(5 / 832 * 100dvh), 5px);
  cursor: pointer;
}

.users_form_button > img {
  width: clamp(0px, calc(19 / 1280 * 100dvw), 19px);
  height: clamp(0px, calc(19 / 832 * 100dvh), 19px);
}

.users_list_item-dropdown-options {
  position: absolute;
  top: calc(100% + clamp(0px, calc(11 / 832 * 100dvh), 11px));
  box-shadow: 0px 1px 13.8px 0px #00000025;
  width: clamp(0px, calc(310 / 1280 * 100dvw), 310px);
  height: clamp(0px, calc(106 / 832 * 100dvh), 106px);
  border-radius: clamp(0px, calc(14 / 832 * 100dvh), 14px);
  left: clamp(0px, calc(-14 / 1280 * 100dvw), -14px);
  background: white;
  z-index: 665455;
}

.users_list_item-dropdown-option {
  margin: 0 auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  color: #1d1d1d;
  white-space: nowrap;
  font-weight: 400;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
  width: clamp(0px, calc(298 / 1280 * 100dvw), 298px);
  height: clamp(0px, calc(34 / 832 * 100dvh), 34px);
  padding-left: clamp(0px, calc(8 / 1280 * 100dvw), 8px);
}

.users_list_item-dropdown-option:hover {
  border-radius: clamp(0px, calc(7 / 832 * 100dvh), 7px);
  background-color: #dfdfdf !important;
}

.users_popup-overlay {
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000052;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.users_popup-content {
  margin-top: clamp(0px, calc(273 / 832 * 100dvh), 273px);
  background: white;
  width: clamp(0px, calc(524 / 1280 * 100dvw), 524px);
  height: clamp(0px, calc(233 / 832 * 100dvh), 233px);
  border-radius: clamp(0px, calc(18 / 832 * 100dvh), 18px);
  box-sizing: border-box;
}

.users_change_popup-content {
  margin-top: clamp(0px, calc(290 / 832 * 100dvh), 290px);
  background: white;
  width: clamp(0px, calc(524 / 1280 * 100dvw), 524px);
  height: clamp(0px, calc(173 / 832 * 100dvh), 173px);
  border-radius: clamp(0px, calc(18 / 832 * 100dvh), 18px);
  box-sizing: border-box;
}

.height {
  height: clamp(0px, calc(173 / 832 * 100dvh), 173px) !important;
}

.margin {
  margin-top: clamp(0px, calc(18 / 832 * 100dvh), 18px) !important;
  margin-left: clamp(0px, calc(203 / 1280 * 100dvw), 203px) !important;
}

.margin_text {
  height: clamp(0px, calc(64 / 832 * 100dvh), 64px) !important;
}

.margin_left {
  width: clamp(0px, calc(150 / 1280 * 100dvw), 150px) !important;
}

.users_popup-text {
  margin-top: clamp(0px, calc(24 / 832 * 100dvh), 24px) !important;
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px) !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
  line-height: clamp(0px, calc(32 / 832 * 100dvh), 32px);
}

.users_popup-text_ {
  margin-top: clamp(0px, calc(10 / 832 * 100dvh), 10px) !important;
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px) !important;
  line-height: clamp(0px, calc(19.2 / 832 * 100dvh), 19.2px);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  color: #7d7d7d;
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  vertical-align: middle;
}

.users_popup-buttons {
  display: flex;
  margin-top: clamp(0px, calc(56 / 832 * 100dvh), 56px);
  margin-left: clamp(0px, calc(218 / 1280 * 100dvw), 218px);
}

.users_popup-btn.confirm {
  margin-left: clamp(0px, calc(10 / 1280 * 100dvw), 10px);
}

.users_popup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(0px, calc(138 / 1280 * 100dvw), 138px);
  height: clamp(0px, calc(41 / 832 * 100dvh), 41px);
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  font-family: 'Lato', sans-serif;
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  cursor: pointer;
}

.users_popup-btn.confirm {
  background-color: #6ab23d;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #6ab23d;
  color: white;
}

.users_popup-btn.confirm:hover {
  background-color: #559130;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #559130;
}

.users_popup-btn.cancel {
  background-color: #ffffff;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #853cff;
  color: #853cff;
}

.users_popup-btn.cancel:hover {
  color: #ffffff;
  background-color: #aa77ff;
}

.users_popup-btn.cancel.delete {
  background-color: #ffffff;
  border: none;
  color: #7d7d7d;
}

.users_popup-btn.cancel.delete:hover {
  color: #1d1d1d;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #1d1d1d;
}

.users_popup-btn.confirm.delete {
  background-color: white;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #f0436c !important;
  color: #f0436c;
}

.users_popup-btn.confirm.delete:hover {
  background-color: #f0436c;
  color: white;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #f0436c;
}

.add_popup-content {
  margin-top: clamp(0px, calc(273 / 832 * 100dvh), 273px);
  background: white;
  width: clamp(0px, calc(525 / 1280 * 100dvw), 525px);
  height: clamp(0px, calc(266 / 832 * 100dvh), 266px);
  border-radius: clamp(0px, calc(18 / 832 * 100dvh), 18px);
  box-sizing: border-box;
  position: relative;
}

.add_popup-text {
  margin-top: clamp(0px, calc(24 / 832 * 100dvh), 24px);
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px) !important;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  letter-spacing: clamp(0.1px, calc(20 / 100 / 1280 * 100dvw), 0.2px);
  line-height: clamp(0px, calc(32 / 832 * 100dvh), 32px);
}

.add_popup-close {
  position: absolute;
  width: clamp(0px, calc(16 / 1280 * 100dvw), 16px);
  height: clamp(0px, calc(16 / 832 * 100dvh), 16px);
  top: clamp(0px, calc(16 / 832 * 100dvh), 16px);
  right: clamp(0px, calc(16 / 1280 * 100dvw), 16px);
  cursor: pointer;
}

.add_form > textarea {
  width: clamp(0px, calc(321 / 1280 * 100dvw), 321px);
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px);
  margin-top: clamp(0px, calc(19 / 832 * 100dvh), 19px);
  height: clamp(0px, calc(39 / 832 * 100dvh), 39px);
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #e0e0e0;
  padding-left: clamp(0px, calc(15 / 1280 * 100dvw), 15px);
  padding-top: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  line-height: clamp(0px, calc(22 / 832 * 100dvh), 22px);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
}

.add_custom-dropdown {
  margin-top: clamp(0px, calc(10 / 832 * 100dvh), 10px);
  display: flex;
  margin-left: clamp(0px, calc(20 / 1280 * 100dvw), 20px);
  justify-content: space-between;
  align-items: center;
  width: clamp(0px, calc(189 / 1280 * 100dvw), 189px);
  height: clamp(0px, calc(36 / 832 * 100dvh), 36px);
  border-radius: clamp(0px, calc(14 / 832 * 100dvh), 14px);
  background-color: #f3f3f3;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  padding-left: clamp(0px, calc(15 / 1280 * 100dvw), 15px);
  padding-right: clamp(0px, calc(15 / 1280 * 100dvw), 15px);
  box-sizing: border-box;
}

.add_custom-dropdown:hover {
  background-color: #dfdfdf;
}

.add_custom-arrow {
  width: clamp(0px, calc(16 / 1280 * 100dvw), 16px);
  height: clamp(0px, calc(9 / 832 * 100dvh), 9px);
  display: flex;
}

.add_custom-dropdown-options {
  box-shadow: 0px 1px 13.8px 0px #00000040;
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  width: clamp(0px, calc(179 / 1280 * 100dvw), 179px) !important;
  height: clamp(0px, calc(76 / 832 * 100dvh), 76px);
  margin-top: clamp(0px, calc(10 / 832 * 100dvh), 10px);
  position: absolute;
  left: clamp(0px, calc(20 / 1280 * 100dvw), 20px);
  z-index: 9999;
  background-color: white;
}

.add_custom-dropdown-option-list {
  margin-top: clamp(0px, calc(15 / 832 * 100dvh), 15px);
  margin-left: clamp(0px, calc(15 / 1280 * 100dvw), 15px);
  z-index: 10000;
}

.add_custom-dropdown-options_header {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  line-height: 120%;
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  vertical-align: middle;
  margin-top: clamp(0px, calc(7 / 832 * 100dvh), 7px);
  margin-left: clamp(0px, calc(41 / 1280 * 100dvw), 41px);
}

.add_custom-dropdown-selected {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  vertical-align: middle;
}

.add_custom-dropdown-option {
  display: flex;
  align-items: center;
  margin-top: clamp(0px, calc(9 / 832 * 100dvh), 9px);
  height: clamp(0px, calc(19 / 832 * 100dvh), 19px);
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  vertical-align: middle;
}

.add_custom-dropdown-circle {
  width: clamp(0px, calc(17 / 1280 * 100dvw), 17px);
  height: clamp(0px, calc(17 / 832 * 100dvh), 17px);
}

.add_custom-dropdown-circle > img {
  width: clamp(0px, calc(17 / 1280 * 100dvw), 17px);
  height: clamp(0px, calc(17 / 832 * 100dvh), 17px);
}

.add_custom-dropdown-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: clamp(10px, calc(16 / 1280 * 100dvw), 16px);
  letter-spacing: clamp(0.1px, calc(16 / 100 / 1280 * 100dvw), 0.16px);
  vertical-align: middle;
  margin-left: clamp(0px, calc(5 / 1280 * 100dvw), 5px);
  display: flex;
  align-items: center;
}

.add_popup-btn {
  width: clamp(0px, calc(138 / 1280 * 100dvw), 138px);
  height: clamp(0px, calc(41 / 832 * 100dvh), 41px);
  font-size: clamp(10px, calc(20 / 1280 * 100dvw), 20px);
  font-family: 'Lato', sans-serif;
  border-radius: clamp(0px, calc(8 / 832 * 100dvh), 8px);
  cursor: pointer;
  color: #6ab23d;
  border: clamp(0px, calc(1.5 / 832 * 100dvh), 1.5px) solid #6ab23d;
  background-color: white;
  margin-left: clamp(0px, calc(366 / 1280 * 100dvw), 366px);
  margin-top: clamp(0px, calc(45 / 832 * 100dvh), 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_popup-btn:hover {
  background-color: #6ab23d;
  color: white;
  border-color: #6ab23d;
}

.add_custom-dropdown-option input[type='radio'] {
  display: none;
}

.add_custom-dropdown-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}
